# Binaries
bin/
obj/

# User-specific files
.vscode/
*.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide/
*.swp

# Logs and Debugging
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entity Framework Migrations
Migrations/

# Database
*.mdf
*.ldf
*.sqlite
*.db

# Environment Files
.env
.env.local
.env.development
.env.production

# Visual Studio Code
.vscode/

# Rider / JetBrains
.idea/

# NuGet Packages
*.nupkg
packages/
project.lock.json

# ASP.NET temporary files
.vs/
wwwroot/node_modules/
wwwroot/lib/

# Coverage
coverage/

# Node Modules
node_modules/
